.nav {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav img {
    max-width: 85px;
    height: auto;
    margin-left: 20px;
}

.login-icon {
    width: 25px;
    height: 25px;
}

.btn-login {
    margin-left: auto; 
    margin-right: 20px;
    padding: 10px 16px; 
    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(10px);
    border: 1px solid var(--color-light-grey);
    width: auto;
    max-width: 200px;
    color: var(--color-darkest);
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    display: flex; 
    align-items: center;
    justify-content: center; 
    text-align: center;
    line-height: 1.2;
    gap: 4px;
}

.btn-login:hover {
    background: rgba(255, 255, 255, 0.2);
}


/* Responsivo */
@media (max-width: 768px) {
    .nav {
        flex-direction: row;
        padding: 10px;
    }

    .nav img {
        margin-left: 10px;
        max-width: 65px;
    }

    .btn-login {
        margin-right: 10px;
        padding: 8px 12px;
        font-size: 0.9rem;
    }
}

