.login-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.login-modal {
    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(10px);
    border: 1px solid var(--color-primary);
    padding: 40px 30px 30px 30px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    position: relative;
    line-height: 1.2;
    color: var(--color-secondary);
}

h2 {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 20px;
    color: var(--color-text); /* Título en verde */
}

.login-modal input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
} 

.login-modal button {
    width: 100%;
    padding: 10px;
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 7px;
    min-width: 120px;
    min-height: 38px;
    transition: opacity 0.3s ease;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 40px;
}

.login-modal button[type="submit"]:hover {
    background-color: var(--color-darkest);
}

.close-btn {
    display: block;
    margin: 20px auto 0 auto;
    padding: 10px 20px;
    border: 2px solid var(--color-primary);
    background: transparent;
    color: var(--color-primary);
    border-radius: 7px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    color: var(--color-primary);
    transition: all 0.3s ease; 
}

.close-btn:hover {
    background: var(--color-primary);
    color: #fff;
}
